.box-hide {
    display: none !important;
}

.vc-plain-color {
    background-color: #deeaee !important;
    color: black !important;
}

.vc-encrypted-color {
    background-color: #c94c4c !important;
    color: white !important;
}

.vc-info-color {
    background-color: #b1cbbb !important;
    color: black !important;
}

.vc-center {
    text-align: center !important;
}

.vc-bold {
    font-weight: bold;
}

.vc-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }